workflows/minutas_veng_fixed.json
{
  "name": "Minutas-VENG-ROBUSTO",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "minutas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Entrada Minuta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -896,
        944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen2.5:3b\",\n  \"stream\": false,\n  \"options\": {\n    \"num_ctx\": 32768\n  },\n  \"prompt\": \"Sos un generador de minutas profesionales. No asumas el contexto: puede ser una reuni\u00f3n interna, con proveedores, clientes o t\u00e9cnicos. Us\u00e1 solo la informaci\u00f3n disponible en el texto.\\n\\nA partir de la siguiente transcripci\u00f3n, gener\u00e1:\\n\\n1) Una MINUTA clara, profesional y fiel al contenido.\\n2) Un JSON estructurado con: tipo_reunion, participantes, decisiones[], requerimientos[], acciones[], riesgos[] y pendientes[].\\n\\nReglas: No inventes informaci\u00f3n. Si algo no est\u00e1, dejalo vac\u00edo. Manten\u00e9 lenguaje formal y claro.\\n\\nFormato EXACTO de salida:\\n---MINUTA---\\n(texto)\\n\\n---JSON---\n(json v\u00e1lido)\\n\\nTRANSCRIPCI\u00d3N:\\n{{ $json.body.meeting_text }}\"\n}",
        "options": {
          "timeout": 2400000
        }
      },
      "id": "http-ollama",
      "name": "Llamada HTTP a Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -672,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "const primerItem = $input.first();\nlet texto = \"\";\nif (primerItem && primerItem.json && primerItem.json.response) {\n    texto = primerItem.json.response;\n} else if (primerItem && primerItem.json && primerItem.json.text) {\n    texto = primerItem.json.text;\n}\n\nlet minuta = \"No se pudo extraer el texto de la minuta\";\nlet datos_json = {};\n\nif (texto.includes(\"---MINUTA---\")) {\n    const partes = texto.split(\"---MINUTA---\");\n    if (partes.length > 1) {\n        minuta = partes[1].split(\"---JSON---\")[0].trim();\n    }\n} else {\n    minuta = texto.split(\"{\")[0].trim();\n}\n\ntry {\n    let raw_json_part = \"\";\n    if (texto.includes(\"```json\")) {\n        raw_json_part = texto.split(\"```json\")[1].split(\"```\")[0];\n    } else if (texto.includes(\"---JSON---\")) {\n        raw_json_part = texto.split(\"---JSON---\")[1];\n    } else {\n        const firstBrace = texto.indexOf(\"{\");\n        const lastBrace = texto.lastIndexOf(\"}\");\n        if (firstBrace !== -1 && lastBrace !== -1) {\n            raw_json_part = texto.substring(firstBrace, lastBrace + 1);\n        }\n    }\n    raw_json_part = raw_json_part.trim().replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, \"\");\n    datos_json = JSON.parse(raw_json_part);\n} catch (e) {\n    datos_json = { \n        error: \"JSON mal formado por la IA\", \n        original_text_snippet: texto.substring(0, 50) + \"...\" \n    };\n}\n\nreturn [{\n    json: {\n        minuta: minuta,\n        json: datos_json,\n        raw_llm_response: texto\n    }\n}];"
      },
      "id": "js-parser",
      "name": "JS Parser Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        944
      ]
    },
    {
      "parameters": {},
      "id": "response-node",
      "name": "Response Node FINAL",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -96,
        944
      ]
    }
  ],
  "connections": {
    "Entrada Minuta": {
      "main": [
        [
          {
            "node": "Llamada HTTP a Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamada HTTP a Ollama": {
      "main": [
        [
          {
            "node": "JS Parser Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS Parser Final": {
      "main": [
        [
          {
            "node": "Response Node FINAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "versionId": 1
}