workflows/minutas_bypass_timeout.json
{
  "name": "Minutas VENG Rapidas (Bypass Timeout)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "minutas-bypass",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-bypass",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"model\": \"llama3.2\",\n  \"stream\": false,\n  \"options\": {\n    \"num_ctx\": 32768\n  },\n  \"prompt\": \"Sos un generador de minutas profesionales.\\nGenerá el documento final consolidado de esta reunión de forma hiper-detallada:\\n\\n1) Una MINUTA clara, profesional y fiel al contenido.\\n2) Un JSON estructurado con: tipo_reunion, participantes, decisiones, requerimientos, acciones, riesgos y pendientes.\\n\\nReglas: No inventes información. Mantené lenguaje formal.\\n\\nFormato EXACTO de salida:\\n---MINUTA---\\n(texto)\\n\\n---JSON---\\n(json válido)\\n\\nTRANSCRIPCIÓN COMPLETA:\\n\" + $json.body.meeting_text\n}) }}",
        "options": {
          "timeout": 2400000
        }
      },
      "id": "http-ollama",
      "name": "LLamada Ollama Infinita",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n    let texto = item.json.response || \"\";\n    let minuta = \"No se pudo extraer el texto de la minuta\";\n    let datos_json = {};\n\n    if (texto.includes(\"---MINUTA---\")) {\n        const partes = texto.split(\"---MINUTA---\");\n        if (partes.length > 1) {\n            minuta = partes[1].split(\"---JSON---\")[0].trim();\n        }\n    } else {\n        minuta = texto.split(\"{\")[0].trim();\n    }\n\n    try {\n        let raw_json_part = \"\";\n        if (texto.includes(\"```json\")) {\n            raw_json_part = texto.split(\"```json\")[1].split(\"```\")[0];\n        } else if (texto.includes(\"---JSON---\")) {\n            raw_json_part = texto.split(\"---JSON---\")[1];\n        } else {\n            const firstBrace = texto.indexOf(\"{\");\n            const lastBrace = texto.lastIndexOf(\"}\");\n            if (firstBrace !== -1 && lastBrace !== -1) {\n                raw_json_part = texto.substring(firstBrace, lastBrace + 1);\n            }\n        }\n        raw_json_part = raw_json_part.trim().replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, \"\");\n        datos_json = JSON.parse(raw_json_part);\n    } catch (e) {\n        datos_json = { \n            error: \"JSON mal formado por la IA\", \n            original_text_snippet: (item.json.response || \"\").substring(0, 50) + \"...\" \n        };\n    }\n\n    results.push({\n        json: {\n            minuta: minuta,\n            json: datos_json,\n            raw_llm_response: texto\n        }\n    });\n}\nreturn results;"
      },
      "id": "js-parser",
      "name": "JS Parser Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        700
      ]
    },
    {
      "parameters": {},
      "id": "response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        900
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "LLamada Ollama Infinita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLamada Ollama Infinita": {
      "main": [
        [
          {
            "node": "JS Parser Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS Parser Final": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false,
  "tags": [],
  "versionId": 1
}