workflows/minutas_bypass_timeout.json
{
  "name": "Minutas VENG Rapidas (Bypass Timeout)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "minutas-bypass",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-bypass",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"model\": \"qwen2.5:3b\",\n  \"stream\": false,\n  \"options\": {\n    \"num_ctx\": 32768\n  },\n  \"prompt\": \"Sos un generador de minutas profesionales de VENG. No asumas contexto e interpretá solo el texto provisto.\\n\\nOBJETIVO: Generar un resumen estructurado y un JSON técnico.\\n\\nESTRUCTURA DE SALIDA (OBLIGATORIA):\\n---MINUTA---\\n(Resumen claro y ejecutivo de la reunión)\\n\\n---JSON---\\n{\\n  \\\"tipo_reunion\\\": \\\"...\\\",\\n  \\\"participantes\\\": [\\\"Nombre 1\\\", \\\"Nombre 2\\\"],\\n  \\\"decisiones\\\": [\\\"D1\\\", \\\"D2\\\"],\\n  \\\"acciones\\\": [\\\"A1\\\", \\\"A2\\\"],\\n  \\\"riesgos\\\": [\\\"R1\\\"],\\n  \\\"pendientes\\\": [\\\"P1\\\"]\\n}\\n\\nREGLA CRÍTICA JSON: No incluyas números ni prefijos dentro de los corchetes de las listas []. Solo strings válidos. Asegurá que todas las propiedades estén separadas por comas.\\n\\nTRANSCRIPCIÓN:\\n\" + $json.body.meeting_text\n}) }}",
        "options": {
          "timeout": 2400000
        }
      },
      "id": "http-ollama",
      "name": "LLamada Ollama Infinita",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n    let texto = item.json.response || \"\";\n    let minuta = \"No se pudo extraer el texto de la minuta\";\n    let datos_json = {};\n\n    if (texto.includes(\"---MINUTA---\")) {\n        const partes = texto.split(\"---MINUTA---\");\n        if (partes.length > 1) {\n            minuta = partes[1].split(\"---JSON---\")[0].trim();\n        }\n    } else {\n        minuta = texto.split(\"{\")[0].trim();\n    }\n\n    try {\n        let raw_json_part = \"\";\n        if (texto.includes(\"```json\")) {\n            raw_json_part = texto.split(\"```json\")[1].split(\"```\")[0];\n        } else if (texto.includes(\"---JSON---\")) {\n            raw_json_part = texto.split(\"---JSON---\")[1];\n        } else {\n            const firstBrace = texto.indexOf(\"{\");\n            const lastBrace = texto.lastIndexOf(\"}\");\n            if (firstBrace !== -1 && lastBrace !== -1) {\n                raw_json_part = texto.substring(firstBrace, lastBrace + 1);\n            }\n        }\n        \n        // LIMPIEZA AGRESIVA DE JSON (Para IA pequeñas como llama3.2)\n        // 1. Quitar números de listas estilo 0: \"...\"\n        let clean_json = raw_json_part.replace(/\\d+:\\s*\"/g, '\"');\n        // 2. Quitar números de objetos estilo 0: {\n        clean_json = clean_json.replace(/\\d+:\\s*{/g, '{');\n        // 3. Intentar arreglar comas faltantes entre propiedades (heurística simple)\n        clean_json = clean_json.replace(/\"\\s*\"/g, '\", \"');\n        // 4. Quitar caracteres de control\n        clean_json = clean_json.trim().replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, \"\");\n        \n        datos_json = JSON.parse(clean_json);\n    } catch (e) {\n        console.log(\"Error crítico de JSON detectado: \", e);\n        datos_json = { \n            error: \"La IA generó un formato no estándar\", \n            raw_attempt: texto.substring(texto.indexOf(\"{\"), texto.lastIndexOf(\"}\") + 1)\n        };\n    }\n\n    results.push({\n        json: {\n            minuta: minuta,\n            json: datos_json,\n            raw_llm_response: texto\n        }\n    });\n}\nreturn results;"
      },
      "id": "js-parser",
      "name": "JS Parser Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        700
      ]
    },
    {
      "parameters": {},
      "id": "response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        900
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "LLamada Ollama Infinita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLamada Ollama Infinita": {
      "main": [
        [
          {
            "node": "JS Parser Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS Parser Final": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false,
  "tags": [],
  "versionId": 1
}